
*.userprefs

BlockChainCourse/bin/Debug/netcoreapp2\.0/

BlockChainCourse/obj/

\.DS_Store

BlockWithMultipleTransactions/bin/Debug/netcoreapp2\.0/

\.vs/BlockChainCourse/v15/sqlite3/

*.cache

BlockWithMultipleTransactions/obj/

BlockWithSingleTransaction/bin/Debug/netcoreapp2\.0/

BlockWithSingleTransaction/obj/

\.vs/BlockChainCourse/v15/\.suo

BlockWithTransactionPool/bin/Debug/netcoreapp2\.0/

BlockWithTransactionPool/obj/Debug/netcoreapp2\.0/

ProofOfWorkTest/bin/Debug/netcoreapp2\.0/

ProofOfWorkTest/obj/Debug/netcoreapp2\.0/

ProofOfWorkTest/obj/

BlockWithProofOfWork/bin/Debug/netcoreapp2\.0/

BlockWithProofOfWork/obj/

.vs/BlockChainCourse/xs/project-cache/

.vs/BlockChainCourse/xs/sqlite3/

.vs/BlockChainCourse/xs/

BlockChainCourse/bin/Debug/netcoreapp3.0/

BlockWithMultipleTransactions/bin/Debug/netcoreapp3.0/

BlockWithProofOfWork/bin/Debug/netcoreapp3.0/

BlockWithSingleTransaction/bin/Debug/netcoreapp3.0/

BlockWithTransactionPool/bin/Debug/netcoreapp3.0/

BlockWithTransactionPool/obj/

ProofOfWorkTest/bin/Debug/netcoreapp3.0/
